.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .cursor-pointer {
    cursor: pointer;
    transition: all 700ms;
  }

  .cursor-pointer:hover {
    scale: 1.2;
  }
}
